<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../styles.css" rel="stylesheet"/>
    <title>Library</title>
</head>

<body>

<div id="container" style="width: 400px;">

    <div class="title">Library</div>

    <table>

        <thead>
        <th>Title</th>
        <th>Link</th>
        </thead>

        <tbody>
        <tr th:each="book: ${library}">
            <td th:text="${book.title}"></td>
            <td><a th:href="book + '/' + ${book.id}">🔗</a></td>
        </tr>
        </tbody>

    </table>

    <form method="get" action="/redirectAddBook">
        <input id="button" type="submit" value="Add new"/>
    </form>

    <div class="title">Search</div>

    <div class="sub-container">

        <form action="/getByTitle" method="post">
            <div>Title<input class="search" type="text" name="title"/>
                <button type="submit" class="button">🔍</button>
            </div>
        </form>

        <form action="/getByAuthor" method="post">
            <div>Author<input class="search" type="text" name="author"/>
                <button type="submit" class="button">🔍</button>
            </div>
        </form>

        <form action="/getByISBN" method="post">
            <div>ISBN<input class="search" type="text" name="isbn"/>
                <button type="submit" class="button">🔍</button>
            </div>
        </form>

    </div>

</div>

</body>

</html>